/* Formatting */

 #nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    

} 

#nav-bar> #logo{
    width: auto;
    height: 60px;
}


/* Design */

#nav-bar{
    background-color: #1f2937;
}

#header-link-1, #header-link-2, #header-link-3{
    color: #e5e7eb;
}

#logo{
    border: 5px solid #3882f6;
    border-radius: 50px;
}

.section-1 {
    background-color: #1f2937;
    margin:
}

#sign-up-button{
    background-color: #3882f6;
    color: white;
}

#quote-section{
    color: #1f2937;
    background-color: #e5e7eb;
}

